anyio==3.5.0
asgiref==3.5.0
attrs==21.4.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.4
distlib==0.3.3
dnspython==2.2.0
fastapi==0.74.1
filelock==3.3.0
Fiona==1.8.21
geopandas==0.10.2
greenlet==1.1.2
h11==0.13.0
httptools==0.2.0
idna==3.3
itsdangerous==2.1.0
MarkupSafe==2.1.0
munch==2.5.0
numpy==1.22.3
orjson==3.6.7
packaging==21.3
pandas==1.4.1
pbr==5.6.0
pipenv==2021.5.29
platformdirs==2.4.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pydantic==1.9.0
pyparsing==3.0.7
PyPika==0.48.9
pypika-gis==2.0.0
pyproj==3.3.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-multipart==0.0.5
pytz==2021.3
PyYAML==5.4.1
rarfile==4.0
requests==2.27.1
Shapely==1.8.1.post1
six==1.16.0
sniffio==1.2.0
soupsieve==2.3.1
SQLAlchemy==1.4.32
sqlparse==0.4.2
starlette==0.17.1
stevedore==3.4.0
typing_extensions==4.1.1
ujson==4.3.0
urllib3==1.26.8
uvicorn==0.15.0
virtualenv==20.8.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
watchgod==0.7
websockets==10.2
Werkzeug==2.0.3
