.eta-container {
    display: none;
    transition: 300ms;
}
.eta-container-open {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    transition: 300ms;
}

.text-oneline {
    display: flex;
    justify-content: space-around;
    margin-right: 15px;
}

.eta-body {
    display: flex;
    justify-content: space-between;
}

.trip-button {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.trip-button:hover {
    background-color: rgb(228, 227, 227);
}

.eta-footer {
    display: flex;
    justify-content: space-evenly;
}

.eta-button {
    width: 100px;
    height: 35px;
    background-color: #af4c4c;
    color: #fff;
    border-radius: 6px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.eta-button:hover {
    background-color: #984141;
}
.eta-button-back {
    background-color: #a4a4a4;
}
.eta-button-back:hover {
    background-color: #848484;
}