.main {
  width: 100%;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.filter-container {
  min-width: 300px;
}

.text-1 {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
}

.text-2 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
}

.ship-type-header {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0;
  text-align: center;
}

/* Below is ShipTypeFilter CSS */

.shorter-hr {
  width: 60%;
}

.align-filter-options {
  display: flex;
}

.verticalLine {
  border-left: 2px solid;
  height: 250px;
}

.rightCheckBoxContainer {
  width: 200px;
}

.leftCheckBoxContainer {
  width: 150px;
}

.ul {
  list-style-type: none;
  padding-left: 5px;
}

.liRight {
  text-align: right;
}

.liLeft {
  text-align: left;
}