.filter-container {
    position: relative;
    display: flex;
    flex-direction: column;
}  

.body-filter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0;
}

.check-all {
    justify-content: center;
    align-items: flex-start;
    height: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 150px;
    padding-right: 10px;
}

.checkbox {
    float: right;
    padding-right: 10px;
}

.filter-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border: none;
    height: 35px;
}
.filter-header:hover {
    background-color: rgb(213, 213, 213);
}